# Data preparation with Iris dataset

In [ ]:
from google.colab import drive
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_iris = pd.read_csv('/content/drive/My Drive/IAAE/data/iris.data.txt')

We extract from the data the X matrix with the predictive variables and the y vector for the class labels.

In [ ]:
X = df_iris.drop('class',axis=1)

In [ ]:
y = df_iris['class']

### Training and testing sets

Separate the data randomly into the training and test sets (70%-30%). 

Fixing a value for `random_state` guarantees that each execution returns the same sets. This is important if we want to compare different parameters or algorithms.

With the `stratify` parameter we indicate which is the class column so the frequency of the labels is similar in the training and testing sets.

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=15,stratify=y)

In [ ]:
X_train.shape

(105, 4)

In [ ]:
X_test.shape

(45, 4)

In [ ]:
y_test.value_counts()

Iris-setosa        15
Iris-versicolor    15
Iris-virginica     15
Name: class, dtype: int64

### Scaling

Some algorithms require scaled data. In this example we use the standard scaler so that each feature has zero mean and unit variance.

Define an instance of the class of the scaler.

In [ ]:
std_scaler = StandardScaler()

Fit the scaler, i.e., make the necessary calculations to transform any given data.

In [ ]:
std_scaler.fit(X_train)

StandardScaler()

Apply the scaler to the training data, i.e., effectively transform the data.

In [ ]:
X_train_arr = std_scaler.transform(X_train)

The result is an numpy array, we will convert the result to a dataframe.

In [ ]:
X_train_sc = pd.DataFrame(X_train_arr,columns=X_train.columns,index=X_train.index)

In [ ]:
X_train_sc

     sepal-length  sepal-width  petal-length  petal-width
47      -1.437366     0.285360     -1.330143    -1.329340
124      0.924327     0.523160      1.064432     1.139965
101     -0.087827    -0.903640      0.730306     0.880038
13      -1.774751    -0.190240     -1.497206    -1.459304
58       0.811866    -0.428040      0.451867     0.100258
..            ...          ...           ...          ...
48      -0.650135     1.474361     -1.274455    -1.329340
70       0.024634     0.285360      0.563242     0.750075
109      1.486635     1.236561      1.287183     1.659819
42      -1.662290     0.285360     -1.385830    -1.329340
118      2.048943    -1.141441      1.732686     1.399892

[105 rows x 4 columns]

Apply the scaler to the test data.

In [ ]:
X_train_sc.describe()

       sepal-length   sepal-width  petal-length  petal-width
count  1.050000e+02  1.050000e+02  1.050000e+02   105.000000
mean  -6.978545e-16  8.479989e-16  1.564886e-16     0.000000
std    1.004796e+00  1.004796e+00  1.004796e+00     1.004796
min   -1.774751e+00 -2.568241e+00 -1.552894e+00    -1.459304
25%   -8.750584e-01 -6.658404e-01 -1.218767e+00    -1.199377
50%   -8.782716e-02 -1.902401e-01  3.404910e-01     0.230221
75%    6.994041e-01  5.231603e-01  7.303056e-01     0.750075
max    2.273867e+00  3.138962e+00  1.732686e+00     1.659819

In [ ]:
X_test_arr = std_scaler.transform(X_test)
X_test_sc = pd.DataFrame(X_test_arr,columns=X_test.columns,index=X_test.index)

Save all the data in pickle format.

In [ ]:
X_train_sc.to_pickle('/content/drive/My Drive/IAAE/data/iris_Xtrain_sc.pkl')
y_train.to_pickle('/content/drive/My Drive/IAAE/data/iris_ytrain.pkl')
X_test_sc.to_pickle('/content/drive/My Drive/IAAE/data/iris_Xtest_sc.pkl')
y_test.to_pickle('/content/drive/My Drive/IAAE/data/iris_ytest.pkl')

We can also save the data in csv format. For example:

`X_train_sc.to_csv('iris_Xtrain_sc.csv')`